
table {
    table-layout: fixed;
    width: 100%;
    text-align: center;
    
    /*
    border-collapse: collapse;
    border: 3px solid purple;
    */
}

th,
td {
    /*padding: 5px;*/
}

th:not(.selected_elm){
    font-weight: bold;
}

th.selected_elm {
    background-color: red;
}

td.crossed_cell:not(.selected_elm) {
    background-color: green;
}
td.crossed_cell.selected_elm {
    background-color: red;
}
td.selected_elm:not(.crossed_cell) {
    text-decoration: line-through;
    color: rgb( 0 0 0 / 50%);
}
