
table {
    table-layout: fixed;
    width: 100%;
    
    /*
    border-collapse: collapse;
    border: 3px solid purple;
    */
}

th,
td {
    /*padding: 5px;*/
}

th:not(.selected_elm){
    font-weight: bold;
}

th.selected_elm {
    background-color: red;
}

tr:not(:hover) td.selected_elm {
    background-color: green;
}
